{% extends 'base.html' %}
{% block content %}

<h1>Barber List</h1>

{% for barber in barbers %}
  <div class="card">
    <a href="{% url 'detail' barber.id%}">
        <div class="card-content">
        <span class="card-title">{{ barber.name }}</span>
        <p>Age: {{ barber.age }}</p>
        <p>Experience: {{ barber.experience }} years</p>
        {% if barber.experience > 5 %}
            <p>-Senior</p>
        {% else %}
            <p>-Junior</p>
        {% endif %}
        <p>Description: {{ barber.description }}</p>
        </div>
    </a>
  </div>
{% endfor %}

{% endblock %}